:root {
  --primary-text-color: rgba(0, 0, 0, 0,8);
  --title-text-color: #434455;
  --accent-color: #4D5AE5;
  --primary-white-color: #ffffff;
  --primary-heading-text: #2E2F42;
  --cornflower: #E7E9FC;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.2),
      0px, 1px, 1px, 0px rgba(0, 0, 0, 0.14),
      0px, 1px, 3px, 0px rgba(0, 0, 0, 0.12);
  --page-bg-color: #f9f9fd;
  --pimary-text-color: #212121;
}


body {
background-color: var(--primary-white-color);
color: var(--primary-text-color);
line-height: 1.5;
font-family: Roboto;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


.list {
  padding: 0;
  margin: 0;
  display: flex;
}


.logo-link  {
  color: var(--primary-heading-text);
  text-decoration:  none;
    width: 71px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.web-text {
  color: var(--accent-color);
    width: 71px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

/* Navigation and contact-info */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  -----------
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

}

  .site-nav li {
    margin-right: 40px;
  }

  .logo-link {
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  

.site-nav, .contact-list, .list {
  list-style: none;
}


.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
} 



.contact-info a {
  color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    
}


.contact-list a:hover,
.contact-list a:focus {
  color: var(--accent-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

  /* Section Hero */
.hero {
text-align: center;

}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  outline: 1px solid tomato;
  background-color: tomato
  ;
  color: var(--primary-heading-text);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

}




/* Section */
.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-top: 0;

}


/* Advantages 'work examples') */
 
.list {
  color: var(--primary-heading-text);
    font-size: 20px;
    line-height: 1.2;
    display: flex;
}

.text {
  color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
}

/* button */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 12px 24px;
  display: inline-block; 
  border-color: transparent; 
  text-decoration: none;
  font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


.button.primary {
 background-color: var(--accent-color);
 color: var(--primary-white-color);
 cursor: pointer;
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--cornflower);
  cursor: pointer;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* padding magrgin */


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

img {
  display: flex;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  outline: 2px solid tomato;
}



.page-header {
 background-color: #ccc;
}



.site-nav {
  margin-left: 76px;
  margin-right: auto;
  outline: 1px solid red;
}

.contact-list {
  display: flex;
  margin-left: 1px;
  outline: 1px solid teal;
}



.main-nav {
  display: flex;
  align-items: center;
  outline: 1px solid yellow;
}



/* Portfolio css */
.card-heading {
  margin-top: 32px;
  margin-left: 16px;
}

.card-content {
  padding: 10px;
}

.card {
  box-shadow: var(--card-shadow);
}

.card-text {
  margin-top: 10px;
  margin-left: 16px;
}

.container {
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  /* background-color: #ccc; */
}


.card-set {
  /* outline: 1px solid tomato; */
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set>.item {
  /* outline: 1px solid teal; */
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}